<div class="container">
  <div class="row d-flex">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
      <div class="appointment_form" style="width: 600px; margin-top: 30px; justify-content: center; align-items: center;">
        <h2> Book an appointment at <%= @shop.shop_name %> </h2>
        <%= simple_form_for [@shop, @appointment] do |f| %>
          <%= f.association :barber, collection: Barber.order(name: :asc) %>
          <%= f.input :scheduled_at, wrapper: :vertical_collection_inline %>
          <%= f.input :description %>
          <%= f.submit "Book an Appointment", class: "btn btn-primary book-appointment" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
