<div class="container">
  <div class="row">
    <div class="col-xs-12" id="appointment-for-shop">
      <h1>Appointments for <%= current_shop.shop_name %></h1>
    </div>
  </div>
  <div class="row">
    <% @appointments.each do |a|%>
    <div class="col-xs-12 col-md-4">
      <div class="card-appointment">
      <ul class="list-unstyled">
        <strong> Request sent on <br></strong><%= a.created_at.strftime('%b %e') %> at <%= a.created_at.strftime('%l:%M %p') %>
        <% if a.state == "Approved" || a.state == "Denied" %>
          <li><strong>Status: </strong><%= a.state %></li>
        <% else %>
          <li>
            <div class="my-flex-form">
              <% if a.state == 'Pending' %>
              <%= simple_form_for a, url: incoming_appointment_path(a) do |f| %>
                  <%= f.hidden_field :state, value: 'Accepted' %>
                  <%= f.submit "Accept", class: "btn btn-primary btn-sm" %>
              <% end %>


              <%= simple_form_for a, url: incoming_appointment_path(a) do |f| %>
                  <%= f.hidden_field :state, value: 'Denied' %>
                  <%= f.submit "Deny", class: "btn btn-danger btn-sm" %>
              <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
        <div style="margin-top: 20px;">

        <li><li><strong>Appointment time:</strong> </li> </li>
        <li><%= a.scheduled_at.strftime('%b %e, %l:%M %p')%></li>
        <li> <strong>Customer:</strong><li> <%= a.user.name %><li></li>
        <li> <strong>Barber:</strong> <li><%= a.barber.name %></li></li>
        <li> <%= a.description if a.description %></li>
        <div>

      </ul>
      </div>
     </div>
    <% end %>
  </div>
</div>
