<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aircuts</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="navbar-aircut">
  <!-- Logo -->
  <a href="/" class="navbar-aircut-brand">
    <%= image_tag "aircuts_logo1.png", alt:"logo" %>
  </a>

  <!-- Right Navigation -->


<div class="navbar-aircut-right">

    <% if user_signed_in?%>
    <%= link_to "My Appointments", appointments_path, class: "navbar-aircut-item navbar-aircut-link" %>
    <% elsif shop_signed_in? %>
    <%= link_to "My Appointments", incoming_appointments_path, class: "navbar-aircut-item navbar-aircut-link" %>
    <% end %>


    <% unless user_signed_in? || shop_signed_in? %>
      <%= link_to "Log in", new_user_session_path, class: "navbar-aircut-item navbar-aircut-link" %>
      |
      <%= link_to "Barber log in", new_shop_session_path, class: "navbar-aircut-item navbar-aircut-link" %>
    <% end %>



     <% if user_signed_in? %>
       <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-aircut-item navbar-aircut-link" %>
     <% elsif shop_signed_in? %>
       <%= link_to "Log out", destroy_shop_session_path, method: :delete, class: "navbar-aircut-item navbar-aircut-link" %>
     <% end %>
    <!-- Profile picture with dropdown list -->

  </div>
  <!-- Dropdown appearing on mobile only -->
  <!-- div class="navbar-aircut-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-aircut-dropdown-menu">
        <li><a href="#">Log in</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div> -->
</div>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>


</html>
